<button (click)="openModal()">
  Open
</button>
<app-modal [modalOpen]="modalOpen">
	<div class="dialog">
		<p>Donec enim diam vulputate ut. Convallis convallis tellus id interdum velit laoreet id donec. Quam
			pellentesque nec nam aliquam sem et. Vel quam elementum pulvinar etiam non. Leo in vitae turpis massa sed.
			Erat nam at lectus urna duis. Mi proin sed libero enim sed faucibus turpis. Fermentum leo vel orci porta
			non. Donec ultrices tincidunt arcu non sodales neque sodales ut etiam. Vel risus commodo viverra maecenas
			accumsan lacus vel facilisis. Id leo in vitae turpis massa sed. Fermentum et sollicitudin ac orci phasellus
			egestas tellus.

		</p>
		<div class="dialog-actions">
			<button class="secondary-btn" (click)="closeModal()">Cancel</button>
			<button class="primary-btn" (click)="confirmModal()">OK</button>
		</div>
	</div>
</app-modal>